/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* Base reset */
* {
  margin: 0; 
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s steps(50, start), blink .75s step-end infinite;
    white-space: nowrap;
    font-family: 'Architects Daughter', cursive;
    font-size: 85px;
    font-weight: 700;
    color: black;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 80% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

#logo {
  width: 20%;
}

h1 {
  font-size: 6rem;
  color: var(--main-white);
}
/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1d1b1b;
}

#me
{
  position: relative;
}

#t
{
  position: absolute;
  bottom: 8px;
  left: 16px;
}
@media (max-width: 28.75em)
{
  #t
  {
    position: absolute;
    top: 8px;
bottom: 100px;
    left: 16px;
  }
.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3.7s steps(55, start), blink .75s step-end 

infinite;
    white-space: nowrap;
font-family: 'Architects Daughter', cursive;
    font-size: 50px;
    font-weight: 700;
    border-right: 4px orange;
    box-sizing: border-box;
}
}


@media (max-width: 75em)
{
  #t
  {
    position: absolute;
    top: 460px;
    left: 16px;
  }
.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3.7s steps(55, start), blink .75s step-end 

infinite;
    white-space: nowrap;
font-family: 'Architects Daughter', cursive;
    font-size: 64px;
    font-weight: 700;
    border-right: 4px orange;
    box-sizing: border-box;
}
}
@media (max-width: 61.25em)
{
  #t
  {
    position: absolute;
    top: 450px;
    left: 16px;
  }

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3.7s steps(55, start), blink .75s step-end 

infinite;
    white-space: nowrap;
font-family: 'Architects Daughter', cursive;
    font-size: 63px;
    font-weight: 700;
    border-right: 4px orange;
    box-sizing: border-box;
}
}

@media (min-width: 90em)
{
  #t
  {
    position: absolute;
    top: 600px;
    left: 16px;
  }

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3.7s steps(55, start), blink .75s step-end 

infinite;
    white-space: nowrap;
font-family: 'Architects Daughter', cursive;
    font-size: 93px;
    font-weight: 700;
    border-right: 40px orange;
    box-sizing: border-box;
}
}

@media (min-width: 160em)
{
  #t
  {
    position: absolute;
    top: 1050px;
    left: 16px;
  }

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 3.7s steps(55, start), blink .75s step-end 

infinite;
    white-space: nowrap;
font-family: 'Architects Daughter', cursive;
    font-size: 170px;
    font-weight: 700;
    border-right: 40px orange;
    box-sizing: border-box;
}
}


.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #ec4d37;
}

.welcome-section > center {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #ec4d37;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 3px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(10px);
  text-shadow: 5px 5px black;
}
